.newsletter {
	padding-top: 52px;
	padding-bottom: 150px;
}

.newsletter-content {
	position: relative;
	--newsletter-gap: 133px;
	border-radius: 8px;
	background-image: url("../../img/newsletter-cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: space-between;
	padding: 338px var(--newsletter-gap) 178px;
}

.newsletter__text {
	max-width: 375px;
}

.newsletter__title {
	color: var(--white-color);
	margin-bottom: 40px;
}

.newsletter__descr {
	width: 368px;
	font-size: 16px;
	line-height: 21px;
	/* or 131% */
	color: var(--white-color);
}

.newsletter__form {
	position: absolute;
	bottom: -96px;
	right: var(--newsletter-gap);
}

.subscribe-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white-color);
	width: 501px;
	height: 416px;
	border-radius: 8px;
	padding-top: 53px;
}

.subscribe-form__field {
	width: calc(100% - (72px * 2));
	border: none;
	outline: 0;
	border-bottom: 1px solid rgba(28, 46, 61, 0.3);
	padding: 25px 0;
	font-size: 11px;
	line-height: 13px;
	/* identical to box height */
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--dark-color);
}

.subscribe-form__btn {
	width: 100%;
	background-color: var(--neptune-color);
	margin-top: 74px;
	padding: 40px 80px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
